In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("https://www.casact.org/sites/default/files/2021-04/othliab_pos.csv")
df.rename(columns={
        'AccidentYear': 'ay',
        'DevelopmentYear': 'cy',
        'DevelopmentLag': 'dev',
        'IncurLoss_h1': 'inc_loss',
        'CumPaidLoss_h1': 'paid_loss',
        'BulkLoss_h1': 'bulk_loss',
        'EarnedPremNet_h1': 'earned_prem',
    }
          , inplace=True)
df = df[['ay', 'cy', 'dev', 'inc_loss', 'paid_loss', 'bulk_loss', 'earned_prem']]\
        .groupby(['ay', 'cy', 'dev'])\
        .sum()\
        .reset_index()
df['rpt_loss'] = df['inc_loss'] - df['bulk_loss']

df.head()

     ay    cy  dev  inc_loss  paid_loss  bulk_loss  earned_prem  rpt_loss
0  1988  1988    1    295980      31447     167233       508339    128747
1  1988  1989    2    315210      87470     119272       508339    195938
2  1988  1990    3    338804     146807      97624       508339    241180
3  1988  1991    4    363137     220502      79690       508339    283447
4  1988  1992    5    346240     256564      48838       508339    297402

In [12]:
df.to_parquet('ol_loss.parquet')